# Гит игнорирует зависимости фронтенда
node_modules/
.next/
out/
build/

# Гит игнорирует виртуальные среды Python
venv/
.venv/
env/
__pycache__/
*.pyc

# Гит игнорирует секреты (пароли к БД и ключи JWT)
.env
.env.local

# Гит игнорирует системные файлы
.DS_Store